<div class="container">
	<div class="row d-flex justify-content-center align-items-center pt-5">
		<div class="col-12 col-md-6 col-lg-5 pb-4 pb-lg-0">
			<div id="carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active" data-interval="3000">
						<img src="./public/chair-one.webp" class="d-block w-100">
					</div>
					<div class="carousel-item" data-interval="4000">
						<img src="./public/chair-two.webp" class="d-block w-100">
					</div>
					<div class="carousel-item" data-interval="4000">
						<img src="./public/chair-three.webp" class="d-block w-100">
					</div>
					<div class="carousel-item" data-interval="4000">
						<img src="./public/chair-four.webp" class="d-block w-100">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carousel" data-slide="prev" style="background-color: antiquewhite;">
					<span class="carousel-control-prev-icon"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carousel" data-slide="next" style="background-color: antiquewhite;">
					<span class="carousel-control-next-icon"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-4 pb-4 pb-lg-0">
			<div style="padding: 30px;">
				<div style="padding-bottom: 40px;">
					<h6 style="color: rgb(143, 143, 143);">Kappu Regular Chair</h6>
					<h2 style="color: rgb(9, 31, 48);">Scandavanian Collection</h2>
					<p style="padding-top: 25px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation.</p>
				</div>
				<div style="padding-bottom: 40px;">
					<h6 style="color: rgb(143, 143, 143);">Color</h6>
					<div>
						<label class="grey">
							<input class="color-selector" type="radio" name="color" value="orange">
							<div class="layer"></div>
							<div class="button"><span></span></div>
						</label>
						<label class="blue">
							<input class="color-selector" type="radio" name="color" value="amber">
							<div class="layer"></div>
							<div class="button"><span></span></div>
						</label>
					</div>
				</div>
				<div>
					<h6 style="color: rgb(143, 143, 143);">Price per unit</h6>
					<div class="d-flex flex-row">
						<h2 style="padding-right: 40px;">$2600</h2>
						<button type="button" class="btn"
							style="background-color: rgb(9, 31, 48); border: 0px; color: rgb(255, 255, 255); text-align: center; padding: 0px 40px 0px 40px; border-radius: 0%; ">
							Buy Now
						</button>
						<button type="button" class="btn btn-light" style="background-color: transparent; border:0px;"><img
								style="width: 30px;" src="./public/cart.png"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>